.diff {
  margin: 1em .5em;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}

.xmlNodeContent {
  font-family: Courier New, monospace;
  font-size: 10px;
  font-weight: bold;
}

.tablelegend th {
  font-family: Tahoma, sans-serif;
  font-size: 10px;
  border: 1px solid #cef;
  border-bottom: 1px solid #cef;
  padding: 4px 5px;
}

.diff h3 {
  margin: 0;
  padding: .25em;
  background: #ADD8E6;
  border-top: 1px solid #386785;
  border-bottom: 1px solid #386785;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}

.diff div {
  padding: .10em .25em;
}

.xmlDocument {
  font-family: Courier New, monospace;
  font-size: 10px;
  margin: 1em 2em;
}

.results {
  margin: 1em 2em;
  padding: .25em;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}

.results table {
  width: 100%;
  border: 1px solid #cef;
  text-align: left;
}

.results th {
  font-weight: bold;
  background-color: #acf;
  border-bottom: 1px solid #cef;
}

.results th {
  padding: 4px 5px;
}
